.divCarousel {
  overflow: hidden;
  padding: 100px 0;
  width: 100%;
  margin-top: 100px;
  position: relative;
}

.divTitleCarousel {
  position: absolute;
  display: flex;
  left: 50%;
  background-color: white;
  border-radius: 40px;
  width: 30%;
  padding: 10px;
  text-align: center;
  transform: rotate(-5deg) translateX(-50%);
  margin-top: -90px;
  box-shadow: 5px 5px 5px grey;
  z-index: 1;
}

.spanColor {
  color: rgb(210, 22, 210);
}

.carousel {
  display: flex;
  flex-direction: row;
  /* transform: translateX(-165%); */
}

.carouselItem {
  display: flex;
  animation: 15s Slide infinite linear;
}

.vehicule {
  position: relative;
  width: 100%;
  margin: 0 30px;
  position: relative;
  display: flex;
  align-items: flex-end;
  justify-content: center;
}

.vehicule img {
  border-radius: 40px;
}

.vehicule h2 {
  position: absolute;
  color: white;
}

@keyframes Slide {
  from {
    transform: translateX(0);
  }
  to {
    transform: translateX(-100%);
  }
}

@media screen and (max-width: 1435px) {
    .divTitleCarousel h1{
        font-size: 25px;
    }
}

@media screen and (max-width: 1135px) {
    .divTitleCarousel h1{
        font-size: 23px;
    }
}
@media screen and (max-width: 1050px) {
    .divTitleCarousel{
        width: 40%;
    }
}

@media screen and (max-width: 810px) {
    .divTitleCarousel{
        width: 50%;
    }
}

@media screen and (max-width: 645px) {
    .divTitleCarousel{
        width: 55%;
    }
    .divTitleCarousel h1{
        font-size: 20px;
    }
}

@media screen and (max-width: 520px) {
    .divTitleCarousel{
        width: 65%;
    }
    .divTitleCarousel h1{
        font-size: 17px;
    }
}