.main{
    background-color: black;
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    padding-bottom: 100px;
}

.title{
    margin-top: 100px;
    color: white;
}

.contact{
    width: 80%;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.contact textarea{
    width: 90%;
    border-radius: 30px;
    padding: 20px;
    height: 150px;
    margin-top: 20px;
}

.inputs{
    display: flex;
    justify-content: center;
    flex-wrap: wrap;
    width: 100%;
}

.inputs input{
    margin: 10px;
    border-radius: 30px;
    padding: 20px;
    width: 45%;
}

.btn{
    background-color: rgb(210, 22, 210);
    color: white;
    font-size: 25px;
    font-weight: bold;
    margin-top: 20px;
    padding: 10px;
    border: 3px solid rgb(210, 22, 210);
    border-radius: 20px;
    transition: 200ms;
}

.btn:hover{
    background-color: white;
    color: rgb(210, 22, 210);
    border: 3px solid rgb(210, 22, 210);
    cursor: pointer;
    transition: 200ms;
}


@media screen and (max-width: 430px) {
    .title{
        display: flex;
        flex-direction: column;
    }

    .title h1{
        text-align: center;
    }
    .title p{
        text-align: center;
    }

    .inputs input{
        width: 100%;
    }

    .input textarea {
        width: 100%;
    }
}